<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--오라클 Main IP (192.168.159.230, 192.168.31.14, hmx-logisol-oracle-db-dev.c5ruasqdgoz7.ap-northeast-2.rds.amazonaws.com)-->
		<add key="OracleMainIP" value="hmx-logisol-oracle-db-dev.c5ruasqdgoz7.ap-northeast-2.rds.amazonaws.com" />
		<!--오라클 Sub IP-->
		<add key="OracleSubIP" value="192.168.10.222" />
		<!--오라클 Port-->
		<add key="OraclePort" value="1521" />
		<!--오라클 SID (OHMXDB,NWMS)-->
		<add key="OracleSID" value="OHMXDB" />
		<!--오라클 Connection ID-->
		<add key="OracleConnectionID" value="KY_K_POWDER" />
		<!--오라클 Connection Password-->
		<add key="OracleConnectionPassword" value="12345" />
		<!--오라클 ConnectionPool-->
		<add key="OracleConnectionPool" value="true" />
		<!--오라클 Connection Max Pool Size-->
		<add key="OracleConnectionMaxPoolSize" value="10" />
		<!--오라클 Connection Min Pool Size-->
		<add key="OracleConnectionMinPoolSize" value="5" />
		<!--오라클 Connection Timeout-->
		<add key="OracleConnectionTimeout" value="60" />
	</appSettings>
</configuration>